# EditorConfig is awesome: https://editorconfig.org
root = true

[*.kt]
indent_style = space
indent_size = 4
continuation_indent_size = 8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
charset = utf-8

# Kotlin specific
ij_kotlin_imports_layout = *,java,javax,org,com
ij_kotlin_align_multiline_parameters = true
ij_kotlin_align_multiline_parameters_in_calls = true
ij_kotlin_align_multiline_extends_list = true
ij_kotlin_align_multiline_method_brackets = true
ij_kotlin_align_multiline_binary_operation = true
ij_kotlin_align_multiline_array_initializer_expression = true
ij_kotlin_align_multiline_assignment = true
ij_kotlin_align_multiline_for = true
ij_kotlin_align_multiline_if = true
ij_kotlin_align_multiline_while = true
ij_kotlin_align_multiline_when_branches = true
ij_kotlin_align_multiline_type_parameters = true
ij_kotlin_align_multiline_type_arguments = true
ij_kotlin_align_multiline_lambda_parameters = true
ij_kotlin_align_multiline_lambda_body = true
ij_kotlin_space_before_colon = false
ij_kotlin_space_after_colon = true
ij_kotlin_space_before_comma = false
ij_kotlin_space_after_comma = true
ij_kotlin_space_before_semicolon = false
ij_kotlin_space_after_semicolon = true
ij_kotlin_space_before_lbrace = true
ij_kotlin_space_before_rbrace = false
ij_kotlin_space_inside_one_line_braces = false
ij_kotlin_space_before_parentheses = false
ij_kotlin_space_inside_parentheses = false
ij_kotlin_space_around_assignment_operators = true
ij_kotlin_space_around_logical_operators = true
ij_kotlin_space_around_equality_operators = true
ij_kotlin_space_around_relational_operators = true
ij_kotlin_space_around_bitwise_operators = true
ij_kotlin_space_around_additive_operators = true
ij_kotlin_space_around_multiplicative_operators = true
ij_kotlin_space_around_unary_operators = false
ij_kotlin_space_around_arrow = true
ij_kotlin_space_around_colon = true
ij_kotlin_space_around_question_mark = true
ij_kotlin_space_around_exclamation_mark = false
ij_kotlin_space_around_dot = false
ij_kotlin_space_around_safe_access = false
ij_kotlin_space_around_elvis = true
ij_kotlin_space_around_double_colon = true
ij_kotlin_space_around_range = true
ij_kotlin_space_around_infix = true
ij_kotlin_space_around_type_colon = true
ij_kotlin_space_around_type_question_mark = true
ij_kotlin_space_around_type_exclamation_mark = false
ij_kotlin_space_around_type_dot = false
ij_kotlin_space_around_type_safe_access = false
ij_kotlin_space_around_type_elvis = true
ij_kotlin_space_around_type_double_colon = true
ij_kotlin_space_around_type_range = true
ij_kotlin_space_around_type_infix = true
ij_kotlin_space_around_type_arrow = true
ij_kotlin_space_around_type_assignment_operators = true
ij_kotlin_space_around_type_logical_operators = true
ij_kotlin_space_around_type_equality_operators = true
ij_kotlin_space_around_type_relational_operators = true
ij_kotlin_space_around_type_bitwise_operators = true
ij_kotlin_space_around_type_additive_operators = true
ij_kotlin_space_around_type_multiplicative_operators = true
ij_kotlin_space_around_type_unary_operators = false
ij_kotlin_space_around_type_semicolon = true
ij_kotlin_space_around_type_comma = true
ij_kotlin_space_around_type_lbrace = true
ij_kotlin_space_around_type_rbrace = false
ij_kotlin_space_around_type_parentheses = false
ij_kotlin_space_around_type_inside_one_line_braces = false
ij_kotlin_space_around_type_before_parentheses = false
ij_kotlin_space_around_type_before_colon = false
ij_kotlin_space_around_type_after_colon = true
ij_kotlin_space_around_type_before_comma = false
ij_kotlin_space_around_type_after_comma = true
ij_kotlin_space_around_type_before_semicolon = false
ij_kotlin_space_around_type_after_semicolon = true
ij_kotlin_space_around_type_before_lbrace = true
ij_kotlin_space_around_type_before_rbrace = false
ij_kotlin_space_around_type_inside_one_line_braces = false
ij_kotlin_space_around_type_before_parentheses = false
ij_kotlin_space_around_type_inside_parentheses = false
ij_kotlin_space_around_type_around_assignment_operators = true
ij_kotlin_space_around_type_around_logical_operators = true
ij_kotlin_space_around_type_around_equality_operators = true
ij_kotlin_space_around_type_around_relational_operators = true
ij_kotlin_space_around_type_around_bitwise_operators = true
ij_kotlin_space_around_type_around_additive_operators = true
ij_kotlin_space_around_type_around_multiplicative_operators = true
ij_kotlin_space_around_type_around_unary_operators = false
ij_kotlin_space_around_type_around_arrow = true
ij_kotlin_space_around_type_around_colon = true
ij_kotlin_space_around_type_around_question_mark = true
ij_kotlin_space_around_type_around_exclamation_mark = false
ij_kotlin_space_around_type_around_dot = false
ij_kotlin_space_around_type_around_safe_access = false
ij_kotlin_space_around_type_around_elvis = true
ij_kotlin_space_around_type_around_double_colon = true
ij_kotlin_space_around_type_around_range = true
ij_kotlin_space_around_type_around_infix = true
ij_kotlin_space_around_type_around_type_colon = true
ij_kotlin_space_around_type_around_type_question_mark = true
ij_kotlin_space_around_type_around_type_exclamation_mark = false
ij_kotlin_space_around_type_around_type_dot = false
ij_kotlin_space_around_type_around_type_safe_access = false
ij_kotlin_space_around_type_around_type_elvis = true
ij_kotlin_space_around_type_around_type_double_colon = true
ij_kotlin_space_around_type_around_type_range = true
ij_kotlin_space_around_type_around_type_infix = true
ij_kotlin_space_around_type_around_type_arrow = true
ij_kotlin_space_around_type_around_type_assignment_operators = true
ij_kotlin_space_around_type_around_type_logical_operators = true
ij_kotlin_space_around_type_around_type_equality_operators = true
ij_kotlin_space_around_type_around_type_relational_operators = true
ij_kotlin_space_around_type_around_type_bitwise_operators = true
ij_kotlin_space_around_type_around_type_additive_operators = true
ij_kotlin_space_around_type_around_type_multiplicative_operators = true
ij_kotlin_space_around_type_around_type_unary_operators = false
ij_kotlin_space_around_type_around_type_semicolon = true
ij_kotlin_space_around_type_around_type_comma = true
ij_kotlin_space_around_type_around_type_lbrace = true
ij_kotlin_space_around_type_around_type_rbrace = false
ij_kotlin_space_around_type_around_type_parentheses = false
ij_kotlin_space_around_type_around_type_inside_one_line_braces = false
ij_kotlin_space_around_type_around_type_before_parentheses = false
ij_kotlin_space_around_type_around_type_before_colon = false
ij_kotlin_space_around_type_around_type_after_colon = true
ij_kotlin_space_around_type_around_type_before_comma = false
ij_kotlin_space_around_type_around_type_after_comma = true
ij_kotlin_space_around_type_around_type_before_semicolon = false
ij_kotlin_space_around_type_around_type_after_semicolon = true
ij_kotlin_space_around_type_around_type_before_lbrace = true
ij_kotlin_space_around_type_around_type_before_rbrace = false
ij_kotlin_space_around_type_around_type_inside_one_line_braces = false
ij_kotlin_space_around_type_around_type_before_parentheses = false
ij_kotlin_space_around_type_around_type_inside_parentheses = false

