name: Publish
run-name: Release ${{ github.ref_name }}
on:
  push:
    tags:
      - '*'

jobs:
  publish-artifacts:
    name: Publish Artifacts
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: '17'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: 'on-failure'
          cache-read-only: false

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Run detekt
        run: ./gradlew detekt

      - name: Configure Git Credentials
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update version in build files
        run: |
          git fetch
          git checkout main
          sed -i '' -E 's/version = "[0-9]+\.[0-9]+\.[0-9]+"/version = "${{ github.ref_name }}"/g' build.gradle.kts
          sed -i '' -E 's/version = "[0-g]+\.[0-9]+\.[0-9]+"/version = "${{ github.ref_name }}"/g' umami/build.gradle.kts
          sed -i '' -E 's/version = "[0-g]+\.[0-9]+\.[0-9]+"/version = "${{ github.ref_name }}"/g' umami-api/build.gradle.kts

      - name: Archive previous documentation version
        run: |
          ./gradlew dokkaGeneratePublicationHtml --no-configuration-cache
          mkdir -p docs/versions/${{ github.ref_name }}
          cp -r docs/reference/* docs/versions/${{ github.ref_name }}/

      - name: Publish to Maven Central
        run: ./gradlew publishAllPublicationsToMavenCentralRepository --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALPASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYPASSWORD }}

      - name: Commit and push changes
        run: |
          git add .
          git commit --no-verify -m "chore: Release version ${{ github.ref_name }}"
          git push

      - name: Call Docs Workflow
        uses: ./.github/workflows/docs.yml