name: Verify

on:
  pull_request:
    branches:
      - '**'

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: '17'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: 'on-failure'
          cache-read-only: false

      - name: Check code style
        run: ./gradlew detekt koverVerify koverXmlReport

      - name: Upload coverage report
        uses: qltysh/qlty-action/coverage@v2.2.0
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: build/reports/kover/report.xml
          format: "jacoco"
          add-prefix: src/commonMain/kotlin
